

/* Styling for the store page */
.store-item-wrapper {
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 20px;
    justify-content: center;
}

.store-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 325px;
    width: 250px;
}

.store-item-container h2 {
    margin-top: 8px;
    font-size: 24px;
    text-align: center;
}

.store-item-container p {
    margin-top: 4px;
    text-align: center;
}


.store-item-container img{
    width: 250px;
    height: 250px;
}





/* Styling for the pages on the individual items */
.item-page {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.item-page img {
    object-fit:cover;
    height: 400px;
}

.item-data {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.item-data h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.item-data p {
    margin-bottom: 20px;
}

.item-cta {
    margin-top: 100px;
    /* border: solid; */
    width: 40%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Everything below this line is old */
.purchase-qty-wrapper {
    align-self: center;
    display: flex;
    /* justify-content: center; */
    padding: 10px 0;
}

.add-item-section {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}


@media (max-width: 1200px) {

    /* Media query styling for the store page */
    .store-item-wrapper {
        width: 100%;
        grid-template-columns: repeat(auto-fill, 160px);
        grid-gap: 5px;
    }

    .store-item-container {
        height: 200px;
    }

    .store-item-container h2 {
        font-size: 12px;
        margin-top: 4px;
    }


    .store-item-container img {
        width: 150px;
        height: 150px;
    }
}
